Projectfullapp.json
[{"id":"92a451c0.b3305","type":"tab","label":"Station Map","disabled":false,"info":""},{"id":"afd156a7.239d98","type":"tab","label":"Water Sensor Data","disabled":false,"info":""},{"id":"5bea07ac.8ce758","type":"tab","label":"Store Sensor Data","disabled":false,"info":""},{"id":"3990f25f.d3d59e","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5445418c.82b16","type":"ui_group","z":"","name":"Start / Stop","tab":"88a534ea.347128","order":1,"disp":true,"width":"6"},{"id":"320cc1de.a7a90e","type":"ui_group","z":"","name":"Real Time Data Sensor","tab":"fafffa80.b1a5d8","order":1,"disp":true,"width":"8","collapse":false},{"id":"fafffa80.b1a5d8","type":"ui_tab","z":"","name":"Water Sensor","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"471dd238.bc39bc","type":"ui_group","z":"","name":"Gauge Real Time Data","tab":"fafffa80.b1a5d8","order":1,"disp":true,"width":"8","collapse":false},{"id":"99080f00.52fae","type":"ui_group","z":"","name":"Bar Chart Examples","tab":"65286a35.9a1bf4","order":3,"disp":true,"width":"8"},{"id":"829f54e7.1c8b68","type":"ui_group","z":"","name":"Pie Chart Examples","tab":"65286a35.9a1bf4","order":2,"disp":true,"width":"6"},{"id":"65286a35.9a1bf4","type":"ui_tab","z":"","name":"Chart Examples","icon":"fa-area-chart","order":1},{"id":"a2b46e1f.b79b7","type":"mqtt-broker","z":"","name":"abc","broker":"https://lshu1o.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"a:lshu1o:NodeIOTMSC","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"495b61f2.b03ff","type":"ui_tab","z":"","name":"Real Time Data Sensor","icon":"dashboard","disabled":false,"hidden":false},{"id":"de7433d5.ea56a","type":"ui_group","z":"","name":"Historical Data","tab":"e3369691.b4dcb8","order":1,"disp":true,"width":"18"},{"id":"177b94ad.a05c8b","type":"ui_group","z":"","name":"Chart Controls","tab":"e3369691.b4dcb8","order":2,"disp":true,"width":"6"},{"id":"acf34a09.d014e8","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"e3369691.b4dcb8","type":"ui_tab","z":"","name":"Historical Data","icon":"fa-area-chart","order":5},{"id":"b3a8ed83.bc734","type":"ui_group","z":"","name":"Show Maps","tab":"2b4ca3a9.f1d36c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c75781cf.66e57","type":"ui_group","z":"","name":"Contaminants","tab":"2b4ca3a9.f1d36c","order":3,"disp":true,"width":"11","collapse":false},{"id":"a658c28d.0e543","type":"ui_group","z":"","name":"weather-icons-lite","tab":"6d8f3b7e.5b5224","order":1,"disp":true,"width":"27","collapse":false},{"id":"6d8f3b7e.5b5224","type":"ui_tab","z":"","name":"Example","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"e6e991c7.6201b","type":"ui_group","z":"","name":"Template Map","tab":"9f060ee5.6f124","order":1,"disp":false,"width":"28","collapse":false},{"id":"9f060ee5.6f124","type":"ui_tab","z":"","name":"Map Station","icon":"dashboard","disabled":false,"hidden":false},{"id":"86c16750.1d3908","type":"ui_group","z":"","name":"Control Map","tab":"9f060ee5.6f124","order":2,"disp":true,"width":"6","collapse":false},{"id":"93793ff0.39a35","type":"change","z":"afd156a7.239d98","name":"Get Data Station 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.sal1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":180,"wires":[["e9b2214c.f72a4","53a52dbb.6b8764","f99fb695.b79ac8"]]},{"id":"eedd7746.e155b8","type":"switch","z":"afd156a7.239d98","name":"Warn on High Values Station 1","property":"payload.d.sal1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":480,"wires":[["afc6ab3f.ffa078"]]},{"id":"afc6ab3f.ffa078","type":"template","z":"afd156a7.239d98","name":"Alert Topic Station 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.d.sal}}","output":"str","x":460,"y":480,"wires":[["1b75162b.44f35a"]]},{"id":"1b75162b.44f35a","type":"ui_toast","z":"afd156a7.239d98","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Station 1 Warning: ","name":"Send Notification","x":710,"y":480,"wires":[]},{"id":"8f515ab6.254218","type":"mqtt in","z":"afd156a7.239d98","name":"","topic":"iot-2/type/+/id/+/evt/+/fmt/json","qos":"2","datatype":"json","broker":"a2b46e1f.b79b7","x":140,"y":240,"wires":[["93793ff0.39a35","10657529.2a866b","6f447cc3.48ef04","6f2fc3ff.9a021c","eedd7746.e155b8","1b3f2286.54eb4d","8d5cccb6.f5df6"]]},{"id":"10657529.2a866b","type":"debug","z":"afd156a7.239d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]},{"id":"e9b2214c.f72a4","type":"debug","z":"afd156a7.239d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"53a52dbb.6b8764","type":"ui_chart","z":"afd156a7.239d98","name":"chart station 1","group":"320cc1de.a7a90e","order":0,"width":"8","height":"6","label":"Station 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":120,"wires":[[]]},{"id":"f99fb695.b79ac8","type":"ui_gauge","z":"afd156a7.239d98","name":"Gauge station 1","group":"471dd238.bc39bc","order":2,"width":"8","height":"6","gtype":"gage","title":"Station 1","label":"mg/L","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":180,"wires":[]},{"id":"ee82b5c3.371be8","type":"function","z":"5bea07ac.8ce758","name":"filter class and send DB","func":"if(msg.payload.d.sal1)\n{\n    msg.payload = {\n        time:     new Date().getTime(),\n        sal:      msg.payload.d.sal1,\n        class_station: 1\n    };\n    return msg;\n}\nelse{\n    \n}\n\nif(msg.payload.d.sal2)\n{\n    msg.payload = {\n        time:     new Date().getTime(),\n        sal:      msg.payload.d.sal2,\n        class_station: 2\n    };\n    return msg;\n}\nelse{\n    \n}\n\nif(msg.payload.d.sal3)\n{\n    msg.payload = {\n        time:     new Date().getTime(),\n        sal:      msg.payload.d.sal3,\n        class_station: 3\n    };\n    return msg;\n}\nelse{\n    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[["892c6078.ffe4d","9c85c507.e0a058"]]},{"id":"892c6078.ffe4d","type":"debug","z":"5bea07ac.8ce758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":120,"wires":[]},{"id":"9c85c507.e0a058","type":"cloudant out","z":"5bea07ac.8ce758","name":"historical cloudant","cloudant":"","database":"historicaldata","service":"node-iot-msc-cloudant-1594929676575-65025","payonly":true,"operation":"insert","x":710,"y":240,"wires":[]},{"id":"137cb307.cb378d","type":"mqtt in","z":"5bea07ac.8ce758","name":"","topic":"iot-2/type/+/id/+/evt/+/fmt/json","qos":"2","datatype":"json","broker":"a2b46e1f.b79b7","x":140,"y":180,"wires":[["ee82b5c3.371be8"]]},{"id":"49b2636e.e39b1c","type":"function","z":"afd156a7.239d98","name":"Create a Chart Array for Chart.js","func":"var starttime = flow.get(\"start-time\");\nvar endtime = flow.get(\"end-time\");\n\nif( msg.payload.length === 0 ) {\n    msg.payload = [] ;\n    return msg;\n}\n\n\nvar ChartData = [ {\"series\":[\"Data\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].temp}]],\n                   \"labels\":[\"Data\"]}];\n\n\nfor( var i=1; i < msg.payload.length; i++ ) {\n    if( (msg.payload[i].time >= starttime) && (msg.payload[i].time <= endtime) ) {\n        ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].sal } );\n    }    \n}\n\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":940,"wires":[["5028eefa.f23ad"]]},{"id":"e2943c98.949da","type":"cloudant in","z":"afd156a7.239d98","name":"","cloudant":"","database":"historicaldata","service":"node-iot-msc-cloudant-1594929676575-65025","search":"_all_","design":"","index":"","x":290,"y":940,"wires":[["e8d36488.020a48","49b2636e.e39b1c"]]},{"id":"e8d36488.020a48","type":"debug","z":"afd156a7.239d98","name":"","active":true,"console":"false","complete":"false","x":430,"y":1040,"wires":[]},{"id":"ffa2df9.fc3f72","type":"ui_button","z":"afd156a7.239d98","name":"","group":"177b94ad.a05c8b","order":3,"width":"6","height":"8","passthru":false,"label":"Load Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":940,"wires":[["e2943c98.949da"]]},{"id":"5028eefa.f23ad","type":"ui_chart","z":"afd156a7.239d98","name":"","group":"de7433d5.ea56a","order":1,"width":0,"height":0,"label":"Salinity Historian Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#18e7b3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":1040,"wires":[[]]},{"id":"912da39e.6d712","type":"ui_date_picker","z":"afd156a7.239d98","name":"","label":"Start Date","group":"177b94ad.a05c8b","order":1,"width":"0","height":"0","passthru":true,"topic":"","x":480,"y":740,"wires":[["df2a1d30.d9f07"]]},{"id":"776e976d.6006b8","type":"ui_date_picker","z":"afd156a7.239d98","name":"","label":"End Date","group":"177b94ad.a05c8b","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":480,"y":840,"wires":[["3a889734.bb6f38"]]},{"id":"3b2e93bb.a07a4c","type":"change","z":"afd156a7.239d98","name":"Start Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"1577750401000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":740,"wires":[["912da39e.6d712"]]},{"id":"7c582060.b3ad1","type":"change","z":"afd156a7.239d98","name":"End Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"1577750401000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":840,"wires":[["776e976d.6006b8"]]},{"id":"df2a1d30.d9f07","type":"change","z":"afd156a7.239d98","name":"Start Time Range","rules":[{"t":"set","p":"start-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":740,"wires":[[]]},{"id":"3a889734.bb6f38","type":"change","z":"afd156a7.239d98","name":"End Time Range","rules":[{"t":"set","p":"end-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":840,"wires":[[]]},{"id":"3b466bbe.8de054","type":"inject","z":"afd156a7.239d98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":780,"wires":[["7c582060.b3ad1","3b2e93bb.a07a4c"]]},{"id":"7d0655d9.87aa4c","type":"worldmap","z":"92a451c0.b3305","name":"worldmap IBM","lat":"10.358019","lon":"106.087209","zoom":"11","layer":"OSM","cluster":"2","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmaptest","x":760,"y":360,"wires":[]},{"id":"3aabd177.a694ee","type":"function","z":"92a451c0.b3305","name":"Get Data Station 1","func":"\nvar value1 = msg.payload.d.sal1;\nmsg.payload = { \n    \"name\":\"Station 1\",\n    \"lat\":10.317875,\n    \"lon\":106.067263,\n    \"layer\": \"stationpoint\",\n    \"salinity\":value1\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":540,"wires":[["7d0655d9.87aa4c"]]},{"id":"67b72fe8.02621","type":"function","z":"92a451c0.b3305","name":"Get Data Station 2","func":"var value2 = msg.payload.d.sal2;\n//value2 = 128;\nmsg.payload = { \n    \"name\":\"Station 2\",\n    \"lat\":10.373882,\n    \"lon\":106.083358,\n    \"layer\": \"stationpoint\",\n    \"salinity\":value2\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[["7d0655d9.87aa4c"]]},{"id":"e3d72734.8d3258","type":"ui_template","z":"92a451c0.b3305","group":"e6e991c7.6201b","name":"Template iframe","order":0,"width":"20","height":"12","format":"<iframe style=\"width:100%; height:100%;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"https://node-iot-msc.mybluemix.net/worldmaptest\"></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":800,"wires":[[]]},{"id":"eefd2cc.640c0d","type":"mqtt in","z":"92a451c0.b3305","name":"","topic":"iot-2/type/+/id/+/evt/+/fmt/json","qos":"2","datatype":"json","broker":"a2b46e1f.b79b7","x":140,"y":580,"wires":[["3aabd177.a694ee","67b72fe8.02621","7505a32b.6c574c"]]},{"id":"6f447cc3.48ef04","type":"change","z":"afd156a7.239d98","name":"Get Data Station 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.sal2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["f05a64e6.703bf8","59774a21.ec4e14"]]},{"id":"6f2fc3ff.9a021c","type":"change","z":"afd156a7.239d98","name":"Get Data Station 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.sal3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["d1a6632.e3e4ba","1e144f65.c44bd1"]]},{"id":"f05a64e6.703bf8","type":"ui_chart","z":"afd156a7.239d98","name":"chart station 2","group":"320cc1de.a7a90e","order":0,"width":"8","height":"6","label":"Station 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb3a9","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":240,"wires":[[]]},{"id":"59774a21.ec4e14","type":"ui_gauge","z":"afd156a7.239d98","name":"Gauge station 2","group":"471dd238.bc39bc","order":2,"width":"8","height":"6","gtype":"gage","title":"Station 2","label":"mg/L","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"d1a6632.e3e4ba","type":"ui_chart","z":"afd156a7.239d98","name":"chart station 3","group":"320cc1de.a7a90e","order":0,"width":"8","height":"6","label":"Station 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb34b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":360,"wires":[[]]},{"id":"1e144f65.c44bd1","type":"ui_gauge","z":"afd156a7.239d98","name":"Gauge station 3","group":"471dd238.bc39bc","order":2,"width":"8","height":"6","gtype":"gage","title":"Station 3","label":"mg/L","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":420,"wires":[]},{"id":"1b3f2286.54eb4d","type":"switch","z":"afd156a7.239d98","name":"Warn on High Values Station 2","property":"payload.d.sal2","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":560,"wires":[["722c7fc9.2d895"]]},{"id":"8d5cccb6.f5df6","type":"switch","z":"afd156a7.239d98","name":"Warn on High Values Station 3","property":"payload.d.sal3","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":640,"wires":[["4acaf16c.29b07"]]},{"id":"722c7fc9.2d895","type":"template","z":"afd156a7.239d98","name":"Alert Topic Station 2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.d.sal2}}","output":"str","x":460,"y":560,"wires":[["a16ddb33.752608"]]},{"id":"4acaf16c.29b07","type":"template","z":"afd156a7.239d98","name":"Alert Topic Station 3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.d.sal3}}","output":"str","x":460,"y":640,"wires":[["dbd57861.087a08"]]},{"id":"a16ddb33.752608","type":"ui_toast","z":"afd156a7.239d98","position":"top right","displayTime":"8","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Station 2 Warning: ","name":"Send Notification","x":710,"y":560,"wires":[]},{"id":"dbd57861.087a08","type":"ui_toast","z":"afd156a7.239d98","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Station 3 Warning: ","name":"Send Notification","x":710,"y":640,"wires":[]},{"id":"40ef4e8a.a071f","type":"template","z":"92a451c0.b3305","name":"GeoJson Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.0495662689209,\n            10.608560012152246\n          ],\n          [\n            106.05857849121094,\n            10.58611845657525\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.05857849121094,\n            10.58611845657525\n          ],\n          [\n            106.0689640045166,\n            10.560342387605695\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.0689640045166,\n            10.560426764519862\n          ],\n          [\n            106.07977867126465,\n            10.533804699729584\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.07973575592041,\n            10.533889083920528\n          ],\n          [\n            106.09063625335693,\n            10.507391313233654\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.0905933380127,\n            10.507475704649305\n          ],\n          [\n            106.10149383544922,\n            10.48118666463749\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.10145092010498,\n            10.481313262477181\n          ],\n          [\n            106.11252307891846,\n            10.45455776981988\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.11248016357422,\n            10.454726581423127\n          ],\n          [\n            106.11428260803223,\n            10.450886094745789\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.11423969268799,\n            10.450928298154157\n          ],\n          [\n            106.11406803131102,\n            10.44932456460564\n          ],\n          [\n            106.11385345458984,\n            10.448860324401712\n          ],\n          [\n            106.11368179321289,\n            10.448396083504095\n          ],\n          [\n            106.11363887786865,\n            10.447931841912835\n          ],\n          [\n            106.11372470855713,\n            10.447552007367692\n          ],\n          [\n            106.11393928527832,\n            10.447340987975322\n          ],\n          [\n            106.11432552337646,\n            10.44704556058525\n          ],\n          [\n            106.11454010009766,\n            10.446665724956747\n          ],\n          [\n            106.1145830154419,\n            10.446159276729874\n          ],\n          [\n            106.11466884613037,\n            10.445610623552714\n          ],\n          [\n            106.11466884613037,\n            10.445061969406986\n          ],\n          [\n            106.11454010009766,\n            10.444555518566663\n          ],\n          [\n            106.11419677734375,\n            10.444133475569354\n          ],\n          [\n            106.11385345458984,\n            10.443669227610458\n          ],\n          [\n            106.11363887786865,\n            10.44324718340978\n          ],\n          [\n            106.11333847045898,\n            10.442867343139255\n          ],\n          [\n            106.11166477203369,\n            10.440461677315547\n          ],\n          [\n            106.11162185668945,\n            10.440124038517439\n          ],\n          [\n            106.11149311065674,\n            10.43923773492816\n          ],\n          [\n            106.11140727996826,\n            10.438140403175062\n          ],\n          [\n            106.11132144927979,\n            10.436156755181035\n          ],\n          [\n            106.11166477203369,\n            10.43510161811554\n          ],\n          [\n            106.11230850219727,\n            10.43383544891327\n          ],\n          [\n            106.11269474029541,\n            10.43311795074476\n          ],\n          [\n            106.11406803131102,\n            10.43041676633178\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.11406803131102,\n            10.430332353941122\n          ],\n          [\n            106.11441135406493,\n            10.429868085383225\n          ],\n          [\n            106.11441135406493,\n            10.429108371703892\n          ],\n          [\n            106.11432552337646,\n            10.427546732207139\n          ],\n          [\n            106.11441135406493,\n            10.426829219541725\n          ],\n          [\n            106.11445426940918,\n            10.425942878083998\n          ],\n          [\n            106.11445426940918,\n            10.425267568613268\n          ],\n          [\n            106.11445426940918,\n            10.424465636714704\n          ],\n          [\n            106.11449718475342,\n            10.423790324040585\n          ],\n          [\n            106.11471176147461,\n            10.423326045727736\n          ],\n          [\n            106.1149263381958,\n            10.422819559506223\n          ],\n          [\n            106.11514091491699,\n            10.42231307246115\n          ],\n          [\n            106.11552715301514,\n            10.421890999294499\n          ],\n          [\n            106.11591339111328,\n            10.421553340349423\n          ],\n          [\n            106.11651420593262,\n            10.421004643783084\n          ],\n          [\n            106.11681461334229,\n            10.420709191385544\n          ],\n          [\n            106.11702919006346,\n            10.420287116045849\n          ],\n          [\n            106.11702919006346,\n            10.419822832511787\n          ],\n          [\n            106.11698627471924,\n            10.419358548285867\n          ],\n          [\n            106.11698627471924,\n            10.41885205561405\n          ],\n          [\n            106.11681461334229,\n            10.418261146456395\n          ],\n          [\n            106.11677169799805,\n            10.417585820332729\n          ],\n          [\n            106.1167287826538,\n            10.41665724452322\n          ],\n          [\n            106.11690044403076,\n            10.415897498621268\n          ],\n          [\n            106.1170721054077,\n            10.415095542604622\n          ],\n          [\n            106.11724376678467,\n            10.414420209621909\n          ],\n          [\n            106.11745834350586,\n            10.413744875176192\n          ],\n          [\n            106.11763000488281,\n            10.413027330724685\n          ],\n          [\n            106.11767292022705,\n            10.412436410524652\n          ],\n          [\n            106.11771583557127,\n            10.411887697907543\n          ],\n          [\n            106.11763000488281,\n            10.411296775547736\n          ],\n          [\n            106.11745834350586,\n            10.41074806092525\n          ],\n          [\n            106.1172866821289,\n            10.410114927468797\n          ],\n          [\n            106.11715793609619,\n            10.409608419778198\n          ],\n          [\n            106.11698627471924,\n            10.409017493099503\n          ],\n          [\n            106.11677169799805,\n            10.408426565301253\n          ],\n          [\n            106.1166000366211,\n            10.40796226410299\n          ],\n          [\n            106.11647129058838,\n            10.407413543614034\n          ],\n          [\n            106.11642837524414,\n            10.406907031536788\n          ],\n          [\n            106.11629962921143,\n            10.406316099740605\n          ],\n          [\n            106.11604213714598,\n            10.405640747745862\n          ],\n          [\n            106.11578464508057,\n            10.405092023173735\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.11578464508057,\n            10.405092023173735\n          ],\n          [\n            106.11522674560547,\n            10.404374458815681\n          ],\n          [\n            106.11479759216309,\n            10.403741312423568\n          ],\n          [\n            106.1143684387207,\n            10.403192584511299\n          ],\n          [\n            106.11389636993408,\n            10.402643855634228\n          ],\n          [\n            106.11376762390135,\n            10.402306175845728\n          ],\n          [\n            106.11359596252441,\n            10.401884075596323\n          ],\n          [\n            106.11329555511475,\n            10.401504184883807\n          ],\n          [\n            106.11312389373778,\n            10.400997663214568\n          ],\n          [\n            106.11295223236084,\n            10.400491140723384\n          ],\n          [\n            106.11282348632812,\n            10.400026827717808\n          ],\n          [\n            106.11260890960693,\n            10.39956251402163\n          ],\n          [\n            106.11265182495117,\n            10.399182620483865\n          ],\n          [\n            106.1125659942627,\n            10.398718305532158\n          ],\n          [\n            106.11248016357422,\n            10.398211779342779\n          ],\n          [\n            106.11239433288574,\n            10.397620831083282\n          ],\n          [\n            106.11217975616455,\n            10.397029881705402\n          ],\n          [\n            106.11196517944336,\n            10.39652335277712\n          ],\n          [\n            106.11175060272217,\n            10.395932401322375\n          ],\n          [\n            106.11145019531249,\n            10.395510292455803\n          ],\n          [\n            106.11114978790282,\n            10.395088183018729\n          ],\n          [\n            106.11080646514891,\n            10.394623861979046\n          ],\n          [\n            106.11037731170654,\n            10.394117329148553\n          ],\n          [\n            106.10990524291992,\n            10.39373742898662\n          ],\n          [\n            106.10930442810059,\n            10.393399739565927\n          ],\n          [\n            106.10883235931395,\n            10.39306204978017\n          ],\n          [\n            106.10823154449463,\n            10.392850993478708\n          ],\n          [\n            106.10767364501953,\n            10.39263993703467\n          ],\n          [\n            106.10711574554443,\n            10.392555514417117\n          ],\n          [\n            106.10660076141357,\n            10.392428880448028\n          ],\n          [\n            106.10612869262695,\n            10.392302246427604\n          ],\n          [\n            106.10557079315184,\n            10.392302246427604\n          ],\n          [\n            106.10501289367676,\n            10.39238666911359\n          ],\n          [\n            106.10458374023436,\n            10.392555514417117\n          ],\n          [\n            106.10424041748045,\n            10.392893204750413\n          ],\n          [\n            106.10385417938232,\n            10.39323089471867\n          ],\n          [\n            106.10346794128418,\n            10.393484161955321\n          ],\n          [\n            106.10016345977783,\n            10.396270088004865\n          ],\n          [\n            106.09939098358154,\n            10.396818828085124\n          ],\n          [\n            106.09848976135254,\n            10.396945460274411\n          ],\n          [\n            106.09806060791016,\n            10.396861038820598\n          ],\n          [\n            106.09758853912354,\n            10.396818828085124\n          ],\n          [\n            106.09720230102539,\n            10.396649985086201\n          ],\n          [\n            106.09685897827148,\n            10.39652335277712\n          ],\n          [\n            106.09647274017334,\n            10.396354509618444\n          ],\n          [\n            106.09617233276367,\n            10.396059033871104\n          ],\n          [\n            106.09582901000977,\n            10.395805768722312\n          ],\n          [\n            106.09557151794434,\n            10.395510292455803\n          ],\n          [\n            106.09505653381348,\n            10.395172604951775\n          ],\n          [\n            106.09488487243652,\n            10.394834917082658\n          ],\n          [\n            106.09475612640381,\n            10.394581650941213\n          ],\n          [\n            106.09454154968262,\n            10.394243962433187\n          ],\n          [\n            106.09454154968262,\n            10.393779640138533\n          ],\n          [\n            106.0946273803711,\n            10.39331531715371\n          ],\n          [\n            106.09471321105956,\n            10.392808782201305\n          ],\n          [\n            106.09471321105956,\n            10.392428880448028\n          ],\n          [\n            106.09479904174805,\n            10.39200676684701\n          ],\n          [\n            106.09505653381348,\n            10.390444941564528\n          ],\n          [\n            106.09527111053467,\n            10.388587625661797\n          ],\n          [\n            106.0955286026001,\n            10.38757453960791\n          ],\n          [\n            106.09591484069824,\n            10.385632782159929\n          ],\n          [\n            106.09591484069824,\n            10.385084022434313\n          ],\n          [\n            106.095871925354,\n            10.384661898913018\n          ],\n          [\n            106.09582901000977,\n            10.384070925025732\n          ],\n          [\n            106.09561443328857,\n            10.383353312375219\n          ],\n          [\n            106.0955286026001,\n            10.382762336014657\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.09557151794434,\n            10.382846761277413\n          ],\n          [\n            106.09535694122313,\n            10.382255783959543\n          ],\n          [\n            106.09505653381348,\n            10.38179144385489\n          ],\n          [\n            106.09467029571532,\n            10.381327103060807\n          ],\n          [\n            106.09428405761719,\n            10.380778335778983\n          ],\n          [\n            106.09381198883057,\n            10.380187354552554\n          ],\n          [\n            106.09286785125732,\n            10.37968079832688\n          ],\n          [\n            106.09196662902832,\n            10.37946973299075\n          ],\n          [\n            106.0885763168335,\n            10.379005388749949\n          ],\n          [\n            106.08587265014648,\n            10.378667683414639\n          ],\n          [\n            106.08561515808105,\n            10.378456617394942\n          ],\n          [\n            106.08527183532715,\n            10.378245551232846\n          ],\n          [\n            106.08484268188475,\n            10.377992271650363\n          ],\n          [\n            106.0843276977539,\n            10.377696778544967\n          ],\n          [\n            106.083984375,\n            10.377232431672654\n          ],\n          [\n            106.08351230621336,\n            10.376768084111191\n          ],\n          [\n            106.0832118988037,\n            10.376219308831924\n          ],\n          [\n            106.08295440673828,\n            10.37562831899333\n          ],\n          [\n            106.08291149139404,\n            10.375121755386175\n          ],\n          [\n            106.08304023742676,\n            10.374446335967793\n          ],\n          [\n            106.08325481414795,\n            10.374024198091103\n          ],\n          [\n            106.08355522155762,\n            10.373517631887482\n          ],\n          [\n            106.08381271362305,\n            10.373137706696761\n          ],\n          [\n            106.08411312103271,\n            10.372715567055078\n          ],\n          [\n            106.08514308929442,\n            10.370858145868736\n          ],\n          [\n            106.08673095703125,\n            10.367438773506663\n          ],\n          [\n            106.08776092529295,\n            10.364905881019954\n          ],\n          [\n            106.08797550201416,\n            10.363766072719029\n          ],\n          [\n            106.08810424804686,\n            10.363132844093332\n          ],\n          [\n            106.08810424804686,\n            10.362541829554702\n          ],\n          [\n            106.08806133270264,\n            10.36178195208127\n          ],\n          [\n            106.08793258666992,\n            10.360937641616305\n          ],\n          [\n            106.08763217926025,\n            10.360051113179914\n          ],\n          [\n            106.08720302581787,\n            10.359249013862359\n          ],\n          [\n            106.0869026184082,\n            10.358615776109119\n          ],\n          [\n            106.0865592956543,\n            10.357982537076595\n          ],\n          [\n            106.08617305755615,\n            10.35743372888037\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.08617305755615,\n            10.35743372888037\n          ],\n          [\n            106.08282566070557,\n            10.35257884530852\n          ],\n          [\n            106.08265399932861,\n            10.352114461202316\n          ],\n          [\n            106.08239650726318,\n            10.351734510058574\n          ],\n          [\n            106.08222484588622,\n            10.351227907817641\n          ],\n          [\n            106.08226776123047,\n            10.350679087800044\n          ],\n          [\n            106.08226776123047,\n            10.350214700881342\n          ],\n          [\n            106.08273983001709,\n            10.343079942737162\n          ],\n          [\n            106.08286857604979,\n            10.342362236194537\n          ],\n          [\n            106.08278274536133,\n            10.341602309831728\n          ],\n          [\n            106.08265399932861,\n            10.340842381629669\n          ],\n          [\n            106.08248233795166,\n            10.340166888350538\n          ],\n          [\n            106.08222484588622,\n            10.339575830539369\n          ],\n          [\n            106.08183860778809,\n            10.338858115987431\n          ],\n          [\n            106.08136653900146,\n            10.338267055713112\n          ],\n          [\n            106.08055114746092,\n            10.337253806940865\n          ],\n          [\n            106.08007907867432,\n            10.336704962491188\n          ],\n          [\n            106.07982158660889,\n            10.336240554900165\n          ],\n          [\n            106.07964992523193,\n            10.335733927654234\n          ],\n          [\n            106.07943534851074,\n            10.335058423388793\n          ],\n          [\n            106.07943534851074,\n            10.334467355965133\n          ],\n          [\n            106.07947826385498,\n            10.33383406820594\n          ],\n          [\n            106.07952117919922,\n            10.333200779170403\n          ],\n          [\n            106.0796070098877,\n            10.332609708252422\n          ],\n          [\n            106.07973575592041,\n            10.332018636222761\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.07969284057617,\n            10.332103075152196\n          ],\n          [\n            106.07999324798584,\n            10.331343123970502\n          ],\n          [\n            106.08012199401855,\n            10.33075204955882\n          ],\n          [\n            106.08046531677246,\n            10.330414292253094\n          ],\n          [\n            106.08080863952637,\n            10.329992095110557\n          ],\n          [\n            106.0811948776245,\n            10.329654336988254\n          ],\n          [\n            106.0816240310669,\n            10.329316578503036\n          ],\n          [\n            106.08222484588622,\n            10.329021039530774\n          ],\n          [\n            106.08291149139404,\n            10.328936599773401\n          ],\n          [\n            106.0836410522461,\n            10.32906325940098\n          ],\n          [\n            106.0843276977539,\n            10.329021039530774\n          ],\n          [\n            106.08492851257324,\n            10.329232138825027\n          ],\n          [\n            106.08557224273682,\n            10.329485457791007\n          ],\n          [\n            106.08621597290039,\n            10.329443237977516\n          ],\n          [\n            106.08681678771971,\n            10.329443237977516\n          ],\n          [\n            106.08728885650635,\n            10.329358798333525\n          ],\n          [\n            106.08780384063719,\n            10.329147699124345\n          ],\n          [\n            106.08827590942383,\n            10.328978819654932\n          ],\n          [\n            106.08866214752197,\n            10.328767720190582\n          ],\n          [\n            106.08926296234131,\n            10.328345520836644\n          ],\n          [\n            106.08977794647215,\n            10.327796660828904\n          ],\n          [\n            106.09012126922607,\n            10.327121139504099\n          ],\n          [\n            106.09050750732422,\n            10.326530057154365\n          ],\n          [\n            106.09067916870117,\n            10.325896753403839\n          ],\n          [\n            106.09089374542236,\n            10.325221227997519\n          ],\n          [\n            106.0910654067993,\n            10.324503480663413\n          ],\n          [\n            106.0910654067993,\n            10.323743511112554\n          ],\n          [\n            106.09102249145508,\n            10.322941319039042\n          ],\n          [\n            106.09085083007812,\n            10.322181345713908\n          ],\n          [\n            106.09063625335693,\n            10.32142137055284\n          ],\n          [\n            106.09016418457031,\n            10.32070361454839\n          ],\n          [\n            106.08977794647215,\n            10.320154741204865\n          ],\n          [\n            106.08922004699707,\n            10.319648088037958\n          ],\n          [\n            106.08866214752197,\n            10.319099212853235\n          ],\n          [\n            106.08806133270264,\n            10.318677000521209\n          ],\n          [\n            106.08621597290039,\n            10.317874795529761\n          ],\n          [\n            106.08492851257324,\n            10.3175370243953\n          ],\n          [\n            106.08411312103271,\n            10.3175370243953\n          ],\n          [\n            106.08359813690186,\n            10.317748131396826\n          ],\n          [\n            106.0832118988037,\n            10.318043680961049\n          ],\n          [\n            106.08282566070557,\n            10.318423672850075\n          ],\n          [\n            106.08243942260742,\n            10.318761443032928\n          ],\n          [\n            106.08192443847656,\n            10.319479203467711\n          ],\n          [\n            106.08059406280518,\n            10.321041382283857\n          ],\n          [\n            106.07977867126465,\n            10.321632474948398\n          ],\n          [\n            106.07922077178954,\n            10.321928020864206\n          ],\n          [\n            106.0782766342163,\n            10.322096904120007\n          ],\n          [\n            106.07716083526611,\n            10.322054683314565\n          ],\n          [\n            106.07638835906982,\n            10.32184357920232\n          ],\n          [\n            106.07561588287352,\n            10.321632474948398\n          ],\n          [\n            106.07437133789062,\n            10.32142137055284\n          ],\n          [\n            106.07325553894043,\n            10.32116804509119\n          ],\n          [\n            106.07192516326904,\n            10.320788056516262\n          ],\n          [\n            106.0706377029419,\n            10.320365846450304\n          ],\n          [\n            106.06990814208984,\n            10.319985856906541\n          ],\n          [\n            106.06922149658203,\n            10.319521424618765\n          ],\n          [\n            106.06853485107422,\n            10.319268097627418\n          ],\n          [\n            106.06797695159912,\n            10.318719221779892\n          ],\n          [\n            106.0675048828125,\n            10.318170344975032\n          ],\n          [\n            106.06724739074707,\n            10.317874795529761\n          ],\n          [\n            106.06844902038574,\n            10.317199252898344\n          ],\n          [\n            106.06960773468018,\n            10.316650373442682\n          ],\n          [\n            106.07080936431885,\n            10.31605927142001\n          ],\n          [\n            106.07213973999023,\n            10.315637055009939\n          ],\n          [\n            106.07286930084229,\n            10.315172616304784\n          ],\n          [\n            106.07377052307129,\n            10.314792620490913\n          ],\n          [\n            106.0746717453003,\n            10.314581511507228\n          ],\n          [\n            106.07548713684082,\n            10.31407484936883\n          ],\n          [\n            106.076602935791,\n            10.313737074156922\n          ],\n          [\n            106.07806205749512,\n            10.313145966664115\n          ],\n          [\n            106.07986450195312,\n            10.312554858061624\n          ],\n          [\n            106.08149528503418,\n            10.312090414809788\n          ],\n          [\n            106.08269691467285,\n            10.311625970872937\n          ],\n          [\n            106.08385562896727,\n            10.311034859417209\n          ],\n          [\n            106.0851001739502,\n            10.310654858609793\n          ],\n          [\n            106.08630180358887,\n            10.310654858609793\n          ],\n          [\n            106.08754634857178,\n            10.310908192532356\n          ],\n          [\n            106.0891342163086,\n            10.311330415283765\n          ],\n          [\n            106.0905933380127,\n            10.311668193077328\n          ],\n          [\n            106.09230995178223,\n            10.312048192662012\n          ],\n          [\n            106.094069480896,\n            10.312681524284146\n          ],\n          [\n            106.09634399414061,\n            10.313399298582624\n          ],\n          [\n            106.0984468460083,\n            10.314032627487151\n          ],\n          [\n            106.10003471374512,\n            10.313568186415065\n          ],\n          [\n            106.1009359359741,\n            10.313230410659601\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.06729030609131,\n            10.317874795529761\n          ],\n          [\n            106.06252670288086,\n            10.319268097627418\n          ],\n          [\n            106.05857849121094,\n            10.319774751406175\n          ],\n          [\n            106.05445861816406,\n            10.32002807798962\n          ],\n          [\n            106.0526990890503,\n            10.320492509529572\n          ],\n          [\n            106.0504674911499,\n            10.321041382283857\n          ],\n          [\n            106.04681968688965,\n            10.322181345713908\n          ],\n          [\n            106.04197025299072,\n            10.323574628740781\n          ],\n          [\n            106.03682041168211,\n            10.32475680343896\n          ],\n          [\n            106.03373050689697,\n            10.32560121121713\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.03381633758545,\n            10.325643431546519\n          ],\n          [\n            106.02973937988281,\n            10.325305668752668\n          ],\n          [\n            106.02763652801512,\n            10.324799023881717\n          ],\n          [\n            106.02467536926268,\n            10.323827952264445\n          ],\n          [\n            106.02149963378906,\n            10.322392449599507\n          ],\n          [\n            106.01772308349608,\n            10.32045028850882\n          ],\n          [\n            106.01407527923584,\n            10.318043680961049\n          ],\n          [\n            106.01184368133544,\n            10.31639704414032\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            106.08505725860596,\n            10.310654858609793\n          ],\n          [\n            106.08501434326172,\n            10.309894855619483\n          ],\n          [\n            106.0851001739502,\n            10.309303740914729\n          ],\n          [\n            106.0854434967041,\n            10.308585957281895\n          ],\n          [\n            106.08574390411377,\n            10.307825949299744\n          ],\n          [\n            106.08587265014648,\n            10.30685482532105\n          ],\n          [\n            106.08608722686768,\n            10.305841475369316\n          ],\n          [\n            106.08595848083496,\n            10.304743675910638\n          ],\n          [\n            106.08574390411377,\n            10.303223639577439\n          ],\n          [\n            106.08548641204833,\n            10.301323583852055\n          ],\n          [\n            106.08501434326172,\n            10.300225768657201\n          ],\n          [\n            106.0845422744751,\n            10.298916830159538\n          ],\n          [\n            106.08415603637694,\n            10.297987902767929\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"json","x":480,"y":80,"wires":[["4a46be90.b2dc4"]]},{"id":"87f17179.e7aa7","type":"inject","z":"92a451c0.b3305","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"false","payloadType":"bool","x":110,"y":40,"wires":[["3ec3d421.6fc51c","bca09c63.56f51"]]},{"id":"4a46be90.b2dc4","type":"function","z":"92a451c0.b3305","name":"Draw BaRai Map","func":"\n\nmsg.payload = { name: \"BaRai River\",\n                layer:\"BaRai River\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":80,"wires":[["7d0655d9.87aa4c"]]},{"id":"7505a32b.6c574c","type":"function","z":"92a451c0.b3305","name":"Get Data Station 3","func":"var value3 = msg.payload.d.sal3;\n//value3 = 570;\nmsg.payload = { \n    \"name\":\"Station 3\",\n    \"lat\":10.406563,\n    \"lon\":106.116349,\n    \"layer\": \"stationpoint\",\n    \"salinity\":value3\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":700,"wires":[["7d0655d9.87aa4c"]]},{"id":"f6dd52b5.177ab","type":"inject","z":"92a451c0.b3305","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"true","payloadType":"bool","x":170,"y":780,"wires":[["e3d72734.8d3258"]]},{"id":"3ec3d421.6fc51c","type":"ui_switch","z":"92a451c0.b3305","name":"Show BaRai River","label":"Show BaRai River","tooltip":"","group":"e6e991c7.6201b","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":160,"wires":[["d17d1a4e.0f97e8"]]},{"id":"d17d1a4e.0f97e8","type":"switch","z":"92a451c0.b3305","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":160,"wires":[["40ef4e8a.a071f"],["fe6c4694.ddc868"]]},{"id":"fe6c4694.ddc868","type":"function","z":"92a451c0.b3305","name":"hide layer","func":"msg.payload = {\"command\":{\"hidelayer\":\"BaRai River\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["7d0655d9.87aa4c"]]},{"id":"85c254b0.f03a38","type":"template","z":"92a451c0.b3305","name":"Show Station","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{ \n    \"name\":\"Station 1\",\n    \"lat\":10.317875,\n    \"lon\":106.067263,\n    \"layer\": \"stationpoint\",\n    \"salinity\":200\n}\n\n","output":"json","x":450,"y":240,"wires":[["7d0655d9.87aa4c"]]},{"id":"bca09c63.56f51","type":"ui_switch","z":"92a451c0.b3305","name":"Show BaRai River","label":"Show Station Point","tooltip":"","group":"e6e991c7.6201b","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":480,"wires":[["f89411f4.5dce8"]]},{"id":"f89411f4.5dce8","type":"switch","z":"92a451c0.b3305","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":380,"wires":[["4771c980.b903d8"],["2ff07ad8.59ba46"]]},{"id":"2ff07ad8.59ba46","type":"function","z":"92a451c0.b3305","name":"hide layer","func":"msg.payload = {\"command\":{\"hidelayer\":\"stationpoint\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":480,"wires":[["7d0655d9.87aa4c"]]},{"id":"4771c980.b903d8","type":"function","z":"92a451c0.b3305","name":"show layer","func":"msg.payload = {\"command\":{\"showlayer\":\"stationpoint\"}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":440,"wires":[["7d0655d9.87aa4c"]]},{"id":"3fb670ae.6d306","type":"template","z":"92a451c0.b3305","name":"Show Station","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{ \n    \"name\":\"Station 2\",\n    \"lat\":10.373882,\n    \"lon\":106.083358,\n    \"layer\": \"stationpoint\",\n    \"salinity\":150\n}\n","output":"json","x":450,"y":300,"wires":[["7d0655d9.87aa4c"]]},{"id":"ca3ea267.9dda8","type":"template","z":"92a451c0.b3305","name":"Show Station","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{ \n    \"name\":\"Station 3\",\n    \"lat\":10.406563,\n    \"lon\":106.116349,\n    \"layer\": \"stationpoint\",\n    \"salinity\":100\n}\n","output":"json","x":450,"y":360,"wires":[["7d0655d9.87aa4c"]]},{"id":"906a8a18.957dc8","type":"inject","z":"92a451c0.b3305","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"true","payloadType":"bool","x":190,"y":240,"wires":[["85c254b0.f03a38","3fb670ae.6d306","ca3ea267.9dda8"]]}]